body ul {
  list-style-type: none;
  padding: 0;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.slider {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  height: 418px;
  position: relative;
}

.slider__image-block {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1182px;
  width: 80%;

  position: absolute;

  z-index: 2;
}

.slider__image-block_left {
  left: -890px;
  z-index: 1;
}

.slider__image-block_right {
  right: -890px;
  z-index: 1;
}

.slider__image-block_left .slider__button,
.slider__image-block_right .slider__button {
  display: none;
}

.slider__image {
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  position: relative;
}

.slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  padding: 0;

  background-image: url(../img/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  z-index: 3;
}

.slider__button_prev {
  left: 40px;
  transform: rotate(180deg) translateY(50%);
}

.slider__button_next {
  right: 40px;
}
